.card {
	width: 100%;
	max-width: 15rem;
	min-height: 12rem;
	margin: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-image: url(../assets/paper.jpg);
	display: inherit;
}

.card:hover {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.02);
}
